.search-input {
    background-color: rgb(0, 0, 0, 0.9);
    width: 400px;
    color: white;
    height: min-content;
    margin-top: 50px;
    border-radius: 10px;
}

.search-input input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 40px;
    color: white;
    align-self: flex-start;
    width: 90%;
    margin-left: 10px;
    font-size: 18px;
}
.input {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.input span {
    align-self: center;
    padding-right: 5px;
    color: rgb(175, 175, 175);
    font-size: 17px;
    margin-bottom: 5px;
}
.input svg {
    align-self: center;
}
.input span:hover{
    cursor: pointer;
}
.autocom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.autocom-box > li {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 40px);
    height: 25px;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: 2px;
    overflow: hidden;  
    text-overflow: ellipsis
}
.autocom-box > li:last-child {
    margin-bottom: 20px;
}
.autocom-box > li > span:first-child > span:first-child {
    margin-right: 10px;
    align-self: center;
}
.autocom-box > li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.select {
    background-color: rgba(255, 255, 255, 0.1);
}
.select > span > span {
    color: rgb(47, 118, 215);
}

.gray {
    color: rgb(158, 158, 158);
}